@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Montserrat:wght@400;500;600;900&family=Poppins:wght@500&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    /* font-family: 'Metal Mania', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Montserrat', sans-serif; */

body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    background: #fcff11;
    height: 80px;
    width: 100%;
}

label.Logo{
    color: white;
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Philosopher', sans-serif;
}

nav ul{
    float: right;
    margin-left:20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    list-style: none;
}

nav ul li a{
    color: white;
    color: black;
    text-decoration: none;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
    font-weight: 1000;
    font-family: 'Philosopher', sans-serif;
    border-radius: 3px;
}

nav ul li a:active,nav ul li a:hover{
    /* background: #1b9bff; */
    background-image: linear-gradient( 111.1deg,  rgba(0,40,70,1) -4.8%, rgba(255,115,115,1) 82.7%, rgba(255,175,123,1) 97.2% );
    transition: all 0.5s ease;
    color: white;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}






/* Contact  Section Css */
.ContactArea .row{
    display: flex;
    justify-content: center;
    align-items: center;
}





/* <!-- Error Page Design --> */

.Error-Section .row ,.ErrorBtn_Carrier{
    display: flex;
    justify-content: center;
    align-items: center;
}


.Error-Section .row .ErrorBtn{
    padding: 7px 20px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;    
    background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
}

.Error-Section .row .ErrorBtn:hover{
    background-image: linear-gradient( 109.6deg,  rgb(128, 128, 128) 11.2%, rgb(2, 57, 63) 91.1% );
}


.ErrorBtn_Carrier{
    text-align: center;
}











/* Main Page Design */
.secondLayer{
    /* background-image: linear-gradient( 109.6deg,  rgba(14,11,56,1) 11.2%, rgba(239,37,37,1) 91.1% ); */
    color: white !important;
    background: #32285a;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%); */
    /* min-height: 500px; */
}

.secondLayer .row{
    width: 100%;
    /* border: 5px solid black; */
    padding-bottom: 30px;
    margin: auto;
}

.secondLayer .row .FirstHeading{
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-size: 2.7rem;
    font-family: 'Playfair Display', serif;
}

.secondLayer .row .FirstHeading span:nth-child(1){
    color: #4AA356;
}

.secondLayer .row .FirstHeading span:nth-child(2){
    color: #4D66AE;
}

/* .secondLayer .row p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: justify;
} */

.secondLayer .row .ContentArea,.secondLayer .row .Imgarea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



/* .secondLayer .row .ContentArea .BtnHolder{
    display: flex;
    width: 50%;
    justify-content: space-between;
}


.secondLayer .row .ContentArea .BtnHolder a{
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 5px;
    color: white;
    transition: all 0.5s ease;
}
.secondLayer .row .ContentArea .BtnHolder a:nth-child(1){
    background-image: radial-gradient( circle farthest-corner at 50.4% 50.5%,  rgba(251,32,86,1) 0%, rgba(135,2,35,1) 90% ); 
}
.secondLayer .row .ContentArea .BtnHolder a:nth-child(1):hover{
    background-image: linear-gradient( 45.4deg,  rgba(81,128,252,1) 25.9%, rgba(12,12,12,1) 93.1% );
}
.secondLayer .row .ContentArea .BtnHolder a:nth-child(2){
    background-image: linear-gradient( 45.4deg,  rgba(81,128,252,1) 25.9%, rgba(12,12,12,1) 93.1% );   
}
.secondLayer .row .ContentArea .BtnHolder a:nth-child(2):hover{
    background-image: radial-gradient( circle farthest-corner at 50.4% 50.5%,  rgba(251,32,86,1) 0%, rgba(135,2,35,1) 90% );
} */


.Imgarea .owl-carousel .items{
    width: 100%;
    height: 50vh;
}

.Imgarea{
    overflow: hidden;
    height: 400px;
}


@media only screen and (min-width:1100px){
    .Imgarea{
        position: relative;
        top: 30px;
        left: 10px;
    }
}


/* Company Content */

.Company_content{
    /* min-height: 100vh; */
    background: #fcff11;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 71%, 100% 81%, 100% 86%, 0 100%);
    margin: 10px 0px;
    padding-bottom: 50px;
}

.Company_content h1{
    text-align: center;
    padding: 10px;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Lobster', cursive;
    text-transform: uppercase;
}



.Company_content p{
    font-family: sans-serif;
    font-weight: 500;
    text-align: justify;
}







/* Prdouct Layer Design */
.MainProductLayer{
    overflow: hidden;
}

.MainProductLayer .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.MainProductLayer h1{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #0038FF;
    font-weight: 600;
    transition: all 0.5s ease;
    cursor: pointer;
    text-transform: capitalize;
}

.MainProductLayer h1:hover{
    transform: scale(1.2);
}

.MainProductLayer .row .ProductCard{
    border: 1px solid black;
    background: #eee;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
}

.MainProductLayer .row .ProductCard:hover{
    box-shadow: 5px 6px 17px -1px rgba(0,0,0,0.74);
    -webkit-box-shadow: 5px 6px 17px -1px rgba(0,0,0,0.74);
    -moz-box-shadow: 5px 6px 17px -1px rgba(0,0,0,0.74);
}


.MainProductLayer .row .ProductCard .ImgHolder img{
    padding-top: 10px ;
    border-radius: 10px;
}


.MainProductLayer .row .ProductCard .ImgHolder img:hover{
    transform: scale(1.10);
}


.MainProductLayer .row .ProductCard .RedirectionContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    width: 100%;
    padding: 10px;
}

.MainProductLayer .row .ProductCard .RedirectionContent a{
    font-family: 'Lobster', cursive;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 100;
}

.MainProductLayer .row .ProductCard:hover i{
    color: #001AFF;
}

.MainProductLayer .row .ProductCard:hover a{
    color: red;
}






/* Quotation Area */

.quotationArea{
    font-family: 'Lobster', cursive;
    background: #fcff11;
    padding: 50px;
    margin: 30px 0px;
}

.quotationArea .CenterBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}


.quotationArea .CenterBox p{
    width: 50%;
    text-align: center;
    font-weight: 400;
}


.quotationArea .CenterBox h1 i{
    color: red;
}









/* Map Area */
.mapArea{
    overflow: hidden;
}

.mapArea h1{
    font-family: 'Lobster', cursive;
    color: #0082e6;
    /* font-family: 'Metal Mania', cursive; */
    letter-spacing: 1px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.mapArea h1:hover{
    transform: scale(1.2);
}




/* Footer Design */
footer{
    background-color: #32285a;
    color: white;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Philosopher', sans-serif;
}

footer .FooterFirstCol h3{
    font-size: 25px;
}


footer .FooterFirstCol .OtherArea .items{
    font-size: 20px;
}

footer .FooterFirstCol .OtherArea .items i{
   padding: 10px;
   font-size: 25px;
}


footer .FooterFirstCol .OtherArea .lastitem{
    font-size: 15px;
}












/* Ms Scaffolding Area */

.ms-scafoldingarea{
    overflow: hidden;
    width: 100%;
}

.ms-scafoldingarea .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ms-scafoldingarea h1{
    text-align: center;
    color: #0038FF;
    font-weight: 600;
    transition: all 0.5s ease;
    text-transform: capitalize;
    cursor: pointer;
}

.ms-scafoldingarea h1:hover{
    transform: scale(1.2);
}

.ms-scafoldingarea .row .ProductCard{
    border: 1px solid black;
    background: #eee;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
}

.ms-scafoldingarea .row .ProductCard:hover{
    box-shadow: 5px 6px 17px -1px rgba(0,0,0,0.74);
    -webkit-box-shadow: 5px 6px 17px -1px rgba(0,0,0,0.74);
    -moz-box-shadow: 5px 6px 17px -1px rgba(0,0,0,0.74);
}


.MainPrms-scafoldingareaoductLayer .row .ProductCard .ImgHolder img{
    padding-top: 10px ;
    border-radius: 10px;
}


.ms-scafoldingarea .row .ProductCard .ImgHolder img:hover{
    transform: scale(1.10);
}


.ms-scafoldingarea .row .ProductCard .RedirectionContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    width: 100%;
    padding: 10px;
}

.ms-scafoldingarea .row .ProductCard .RedirectionContent a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 600;
}

.ms-scafoldingarea .row .ProductCard:hover i{
    color: #001AFF;
}

.ms-scafoldingarea .row .ProductCard:hover a{
    color: red;
}































/* Media Queries */
@media only screen and (max-width:1400px){
.secondLayer .row .ContentArea .BtnHolder{
    width: 80%;
}
.secondLayer .row p{
    width: 100%;
}

}





@media only screen and (max-width:1300px){
    label.Logo{
        padding: 0 50px;
    }
        
.secondLayer .row .ContentArea .BtnHolder{
    width: 80%;
}

}


@media only screen and (max-width:1200px){
    label.Logo{
        padding-left: 30px;
    }
    nav ul li a{
    padding: 7px 3px;
    }
}

@media only screen and (max-width:1100px){
    label.Logo{
        padding: 0px;
        padding-left: 10px;
    }
    
    nav ul li a{
    padding: 7px 0px;
    }
    
    nav ul{
    margin-left:0px ;
    }
}




@media only screen and (max-width:992px){
    label.Logo{
        font-size: 20px;
        padding-left: 50px;
        text-transform: uppercase;
    }
    .secondLayer .row .ContentArea .BtnHolder{
        width: 100%;
    }

    footer .row .col{
        padding: 20px;
    }
}






@media only screen and (max-width:952px){
    label.Logo{
        padding-left: 50px;
        text-transform: uppercase;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media only screen and (max-width:900px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fcff11;
        /* background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% ); */
        /* background: linear-gradient(121deg, #FF0000 0%, #ff0000 100%), linear-gradient(140deg, #ff5454 27%, #223DCB 100%), linear-gradient(140deg, #4E9C51 0%, #001AFF 72%), linear-gradient(64deg, #6e00ff 0%, #0038FF 100%), radial-gradient(52% 101.79% at 50% 50%, #707300 0%, #ff0000 100%), radial-gradient(100% 100% at 70% 0%, #7A3B00 0%, #1DAC92 100%); */
        /* background-blend-mode: overlay, overlay, difference, difference, color-burn, exclusion;         */
        top: 80px;
        left: -110%;
        text-align: center;
        transition: all .5s ease;
        z-index: 111;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: red;
    }

    #check:checked ~ ul{
        left: 0%;
    }

}


@media only screen and (max-width:800px){
  .quotationArea .CenterBox p{
    width: 80%;
  }
}




@media only screen and (max-width:576px){
label.Logo{
    font-size: 20px;
    padding: 0 50px;
    font-family: 'Ubuntu', sans-serif;
}
nav ul li a{
    font-size: 25px;
    padding: 7px 13px;
}
.checkbtn{
    font-size: 20px;
    margin-right: 20px;
}

.secondLayer .row{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.secondLayer .row .ContentArea .BtnHolder{
    flex-direction: column;
}
.secondLayer .row .ContentArea .BtnHolder a{
    margin: 10px auto;
    width: 70%;
}

.secondLayer .row .FirstHeading{
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
}

.secondLayer .row p{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.MainProductLayer .row,.ms-scafoldingarea  .row{
    flex-direction: column;
    margin: 0px 10px;
}

.MainProductLayer .row .ProductCard,.ms-scafoldingarea .row .ProductCard{
    margin: 10px auto;
}

footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quotationArea .CenterBox p{
    width: 100%;
  }

}






@media only screen and (max-width:380px){
    label.Logo{
        font-size: 20px;
        padding: 0 20px;
    }
    nav ul li a{
        font-size: 20px;
    }
    .quotationArea .CenterBox p{
        text-align: justify;
    }
    .quotationArea .CenterBox h2{
        font-size: 20px;
        font-weight: 600;
    }
}

@media only screen and (max-width:340px){
    .quotationArea .CenterBox h2{
        font-size: 15px;
        font-weight: 600;
    }
    .quotationArea .CenterBox p{
        font-size: 70%;
    }
}

@media only screen and (max-width:300px){
    label.Logo{
        font-size: 15px;
        padding: 0;
        padding-left: 20px;
    }

    footer{
        overflow: hidden;
    }
}

@media only screen and (max-width:255px){
    label.Logo{
        font-size: 10px;
    }

}